<div class="rodape">
    <div class="rodape-container">

      <div class="img">
        <img src="../../../assets/images/logo.png" alt="Logo MEGAVIP" class="logo">
      </div>
      <!-- Logotipo e Contatos -->
      <div class="rodape-section contatos">
    
        <h3>Nossos Contatos</h3>
        <p>
          <span>📍 Rua Rua Caixa D'agua nº192 - PIO XII - MARANHÃO MA, 65707-000</span><br>
          <span>📞 (98) 99203-1175</span><br>
          <span>✉ megavipnet2021@gmail.com</span>
        </p>
      </div>
  
      <!-- Links Úteis -->
      <div class="rodape-section links">
        <h3>Links Úteis</h3>
        <ul>
            <div class="redes-sociais">
                <a href="#"><img src="https://cdn-icons-png.flaticon.com/512/733/733547.png" alt="Facebook"></a>
                <a href="#"><img src="https://cdn-icons-png.flaticon.com/512/733/733579.png" alt="Instagram"></a>
     
              </div>
        </ul>
      </div>
  
      <!-- Newsletter -->
      <div class="rodape-section newsletter">
        <h3>Newsletter</h3>
        <p>Digite seu endereço de e-mail e receba nossas ofertas e planos para o seu e-mail.</p>
        <form>
          <input type="email" placeholder="Seu email..." required>
          <button type="submit">Enviar</button>
        </form>
      </div>
    </div>
  
    <!-- Direitos Reservados e Redes Sociais -->
    <div class="rodape-bottom">
      <p>© 2024. kduferreira. Todos os direitos reservados.</p>

    </div>
  </div>
  