/* Exibir apenas 1 slide por vez em telas menores */
@media (max-width: 1200px) {
  .carousel-item {
    flex: 0 0 100%; /* Cada item ocupa 100% da largura */
  }
}

@media (max-width: 768px) {
  .carousel-item {
    flex: 0 0 100%; /* Garante que 1 slide seja exibido por vez */
  }

  .slide-image {
    height: 300px; /* Ajusta a altura da imagem */
    width: 100%; /* Garante largura total */
  }
}

@media (max-width: 480px) {
  .carousel-item {
    flex: 0 0 100%; /* Um slide ocupa toda a largura */
  }

  .slide-image {
    height: 500px; /* Reduz ainda mais a altura para dispositivos pequenos */
    object-fit: cover; /* Mantém proporções */
    width: 100%;
  }
}
