<div class="sac-container">
    <h2 class="sac-title">Ligue agora ou mande uma mensagem!</h2>
    <div class="sac-item">
      <img src="https://cdn-icons-png.flaticon.com/512/733/733585.png" class="icon" alt="WhatsApp">
      <div class="text">
        <p class="label">Atendimento</p>
        <p class="contact">(98) 99203-1175</p>
      </div>
    </div>
    <div class="sac-item">
      <img src="https://cdn-icons-png.flaticon.com/512/732/732200.png" class="icon" alt="Email">
      <div class="text">
        <p class="label">Mande um Email</p>
        <p class="contact">megavipnet2021@gmail.com</p>
      </div>
    </div>
    <div class="sac-button-container">
      <a href="https://wa.me/5597991461730" class="sac-button">
        <img src="https://cdn-icons-png.flaticon.com/512/733/733585.png" alt="Ícone WhatsApp">
        CHAMAR NO WHATSAPP
      </a>
    </div>
  </div>
  