<div class="header-main">
    <div class="logo">
      <img src="../../../assets/images/logo.png" alt="MEGAVIP-LOGO" />
    </div>
    <nav class="navigation">
      <ul>
        <li><a href="#" class="active">HOME</a></li>
        <li><a href="#" class="active">EMPRESA</a></li>
        <li><a (click)="scrollToPlanos()">NOSSOS PLANOS</a></li>
        <li><a href="#">ÁREA DE COBERTURA</a></li>
        <li><a href="#">INFORMAÇÕES DE SUPORTE</a></li>
        <li><a (click)="scrollToContatos()">CONTATOS</a></li>
        
      </ul>
    </nav>
  </div>
  