.header-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: white;
}

.header-main .logo img {
  max-height: 80px;
}

.navigation ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.navigation ul li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  padding: 5px 10px; /* Espaçamento padrão */
  transition: all 0.3s ease; /* Transição suave */
  cursor: pointer;
}

/* A classe active só aplica fundo e borda inicialmente */
.navigation ul li a.active {
 
  color: black;
 
}

/* Só quando passar o mouse, a borda preta será visível */
.navigation ul li a:hover {
  color: #fff; /* Cor ao passar o mouse */
  background-color: #000; /* Fundo claro ao passar o mouse */
  border: 5px solid black; /* Borda preta de 5px */
  border-radius: 10px; /* Borda arredondada */
  padding: 5px 10px; /* Padding ajustado para manter a consistência */
}

