<div class="info-container">
    <!-- Foto do contrato -->
    <div class="info-image">
      <img src="assets/images/contrato.png" alt="Assinatura de Contrato" />
    </div>
  
    <!-- Conteúdo do contrato -->
    <div class="info-content">
      <h2>Contrato de Prestação de Serviço</h2>
      <p>
        Nossa empresa firma um compromisso para levar um serviço de excelência e qualidade a todos os nossos clientes.
      </p>
    </div>
  
    <!-- Foto do teste de velocidade -->
    <div class="info-image">
      <img src="assets/images/speed.png" alt="Teste de Velocidade" />
    </div>
  
    <!-- Conteúdo do teste de velocidade -->
    <div class="content-speed">
      <h2>Teste de Velocidade</h2>
      <p>
        Faça o teste de velocidade de sua conexão com a internet rápido e completo, incluindo medir velocidade de download, upload e latência.
      </p>
    </div>
  </div>
  