/* Responsividade para tablets e dispositivos menores */
@media (max-width: 1024px) {
    .comparison-items {
      gap: 30px;
    }
    
    .circle {
      width: 150px;
      height: 150px;
      font-size: 16px;
    }
  
    .circle span {
      font-size: 14px;
    }
  }
  
  @media (max-width: 768px) {
    .comparison-items {
      flex-direction: column;
      gap: 20px;
    }
  
    .circle {
      width: 120px;
      height: 120px;
      font-size: 14px;
    }
  
    .circle span {
      font-size: 12px;
    }
  }
  