.chame-zap-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #222;
  color: white;
  padding: 50px;
}

/* Estilos para o texto */
.text-content h2 {
  font-size: 20px;
  margin: 0;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

.text-content p {
  margin: 5px 0 0;
  color: #ccc;
  font-family: Arial, Helvetica, sans-serif;
}

/* Botão */
.button-content .zap-button {
  background-color: #0087D1; /* Cor do WhatsApp */
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  display: flex;
  align-items: center;
  text-decoration: none; /* Remove sublinhado de links */
  transition: background-color 0.3s ease;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}

.button-content .zap-button i {
  font-size: 18px;
  margin-right: 8px;
}

.button-content .zap-button:hover {
  background-color: #1ebe57; /* Tom mais escuro para hover */
}
