<div class="streaming-container">
  <div class="streaming-text">
    <img src="../../../assets/images/netflix_logo.png" alt="É assinante Netflix?" class="title-image" />
    <p>Então você precisa de velocidade!<br>Assista suas séries e filmes sem travas.</p>
    <a href="/planos" class="button">CONSULTE NOSSOS PLANOS</a>
  </div>
  <div class="streaming-image">
    <div class="tv-frame">
      <img src="../../../assets/images/tv.png" alt="TV Frame" class="tv-frame-image" />
      <div class="streaming-gif">
        <img src="../../../assets/images/streaming.gif" alt="Streaming GIF" />
      </div>
    </div>
  </div>
</div>
