<div class="planos-container">
    <h2>Conheça alguns de nossos <span class="highlight">Planos</span> de acesso</h2>
    <p class="subtitle">Velocidade e estabilidade com a melhor internet da região.</p>
  
    <div class="planos">
      <!-- Plano 6 MEGA -->
      <div class="plano-card">
        <div class="planoclass">PLANO BÁSICO</div>
        <div class="plano-header">PLANO 100 MEGAS</div>
        <div class="plano-preco">R$<span>59,99</span></div>
        <ul class="plano-beneficios">
          <li>Fibra Óptica</li>
          <li>Suporte Técnico</li>
          <li>Acesso 24 Horas</li>
          <li>Internet sem franquia</li>
          <li>Consultar Disponibilidade</li>
        </ul>
        <button class="plano-button">ASSINAR PLANO</button>
      </div>
  
      <!-- Plano 10 MEGA -->
      <div class="plano-card">
        <div class="planoclass">PLANO TOP</div>
        <div class="plano-header">PLANO 400 MEGAS</div>
        <div class="plano-preco">R$<span>89,99</span></div>
        <ul class="plano-beneficios">
          <li>Fibra Óptica</li>
          <li>Suporte Técnico</li>
          <li>Acesso 24 Horas</li>
          <li>Internet sem franquia</li>
          <li>Consultar Disponibilidade</li>
        </ul>
        <button class="plano-button">ASSINAR PLANO</button>
      </div>
  
      <!-- Plano 20 MEGA (PLANO VIP) -->
      <div class="plano-card destaque">
        <div class="planoclass">PLANO VIP</div>
        <div class="plano-header">PLANOS 600 MEGAS</div>
        <div class="plano-preco">R$<span>119,99</span></div>
        <ul class="plano-beneficios">
          <li>Fibra Óptica</li>
          <li>Suporte Técnico</li>
          <li>Acesso 24 Horas</li>
          <li>Internet sem franquia</li>
          <li>Consultar Disponibilidade</li>
        </ul>
        <button class="plano-button destaque-button">ASSINAR PLANO</button>
      </div>
  
      <!-- Plano 30 MEGA -->
      <div class="plano-card">
        <div class="planoclass">PLANO MEGAVIP</div>
        <div class="plano-header">PLANOS 800 MEGA</div>
        <div class="plano-preco">R$<span>149,99</span></div>
        <ul class="plano-beneficios">
          <li>Fibra Óptica</li>
          <li>Suporte Técnico</li>
          <li>Acesso 24 Horas</li>
          <li>Internet sem franquia</li>
          <li>Consultar Disponibilidade</li>
        </ul>
        <button class="plano-button">ASSINAR PLANO</button>
      </div>
    </div>
  </div>
  